<div class="col col-md-6 col-12">
    <div class="card">
        <div class="card-header">
            <h5>Brands</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col ">
                    <button type="button" class="btn btn-success float-end" routerLink="/admin/brands/add"> New <span
                            class="material-icons">
                            add_circle_outline
                        </span>
                    </button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover ">
                    <thead>
                        <tr>
                            <th class="text-center">Brand Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="brands">
                        <tr *ngFor="let brand of brands">
                            <td class="text-center">{{brand.name}}</td>
                            <td class="td-actions text-right">
                                <button type="button" class="btn btn-warning btn-sm m-1"
                                    routerLink="/admin/brands/edit/{{brand.id}}"><span
                                        class="material-icons">edit</span> </button>
                                <button type="button" class="btn btn-danger btn-sm m-1" (click)="delete(brand)"> <span
                                        class="material-icons">delete</span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h5 class="text-center" *ngIf="response">{{response.message}}</h5>
        </div>
    </div>
</div>