.btn{
    color:whitesmoke;
    background-color: #303960;
    border:none;
}
.btn:hover{
    background-color: #f8b24f;
    color:#303960;
    font-weight: bold;
    border:none;
}

.showModal{
    display: block;
}