.container-fluid {
    margin:0px;
    padding-right: 0px;
    /* padding: 1px 16px; */
    height: 1000px;
    /* display: inline-block; */
    flex: 1;
  }
  div.content {
    margin-left: 250px;
    padding: 1px 16px;
    height: 1000px;
  }

  @media screen and (max-width: 700px) {
    div.content {margin-left: 0;}
  }