.footer {
    position: fixed;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    color: white;
    text-align: center;
 }

 .footer a{
     color:#3282b8;
 }