<div class="row">
    <div class="col col-12 col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Rental Details</h5>
            </div>
            <div class="card-body ">
                <table>
                    <div class="row">
                        <div class="col">
                            <tr>
                                <th class="col col-6">Customer</th>
                                <td class="col col-6">{{result.data.customerName}}</td>
                            </tr>
                            <tr>
                                <th>Brand</th>
                                <td>{{result.data.brand}}</td>
                            </tr>
                            <tr>
                                <th>Model</th>
                                <td>{{result.data.model}}</td>
                            </tr>
                            <tr>
                                <th>Color</th>
                                <td>{{result.data.color}}</td>
                            </tr>
                        </div>
                        <div class="col">
                            <tr>
                                <th class="col">Discount</th>
                                <td class="col">{{result.data.discount}}</td>
                            </tr>
                            <tr>
                                <th>Price</th>
                                <td>{{result.data.totalPrice}}</td>
                            </tr>
                            <tr>
                                <th>Rent Date</th>
                                <td>{{result.data.rentDate | date }}</td>
                            </tr>
                            <tr>
                                <th>Return Date</th>
                                <td>{{result.data.returnDate | date }}</td>
                            </tr>
                        </div>
                    </div>
                </table>
            </div>
        </div>
    </div>
</div>